# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Node
node_modules/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env

# Test/coverage
coverage/
*.cover
*.coverage

# Docker
*.pid
